<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/escape_room__glowing_keyhole"
        android:label="@string/app_name"
        android:roundIcon="@drawable/escape_room__glowing_keyhole"
        android:supportsRtl="true"
        android:theme="@style/Theme.Escape_Rooms">
        
        <activity
            android:name=".ui.DrawerActivity"
            android:exported="false" />
            
        <activity
            android:name=".ui.ChoosingGameVarientActivity"
            android:exported="false" />
            
        <!-- This is now the starting activity -->
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ui.SignUpActivity"
            android:exported="false" />
            
        <activity
            android:name=".ui.MainActivity"
            android:exported="false" />
            
        <activity
            android:name=".ui.CorridorActivity"
            android:exported="false" />
            
        <activity
            android:name=".ui.PlayerResultsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.RatingActivity"
            android:exported="false" />
    </application>

</manifest>
